#grid {
    display: grid;
    grid-template-columns: auto
    auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
}

body {
    color: blue;

}

.divs {
    border: 3px solid black; 
    background: white;
    padding: 50px;

}

.clicked {
    display: flex;
    background: blue;
    transition: all 0.6s ease;
}