#grid {
    display: grid;
}

#btn {
    margin: 10px;
    padding: 20px;
    background-color: cornflowerblue;
}

body {
    color: blue;

}

.divs {
    border: 3px solid black; 
    background: white;
    padding: 50px;

}

.clicked {
    display: flex;
    background: blue;
    transition: all 0.6s ease;
}